@model IEnumerable<ScentsSymphonyWeb.Models.Parfumuri>

@{
    ViewData["Title"] = "Rezultatele căutării";
}

<h2 class="mt-3 mb-3">Rezultatele căutării</h2>

<div class="row">
    @foreach (var parfum in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="@parfum.ImageURL" alt="@parfum.Name" />
                <div class="card-body">
                    <h5 class="card-title">@parfum.Name</h5>
                    <p class="card-text">@parfum.Description</p>
                    <p class="card-text">@parfum.Price</p>
                    <a asp-controller="Parfumuri" asp-action="Details" asp-route-id="@parfum.ProductID" class="btn btn-primary d-inline-block me-2">Details</a>
                    <form asp-controller="Cart" asp-action="AddToCart" method="post" class="d-inline-block">
                        <input type="hidden" name="productId" value="@parfum.ProductID" />
                        <button type="submit" class="btn btn-success">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
