@model ScentsSymphonyWeb.Models.Review

<h2>Review Details</h2>
<div class="review-detail">
    <p>Review ID: @Model.ReviewID</p>
    <p>Product: @Model.Product.Name</p>
    <p>User: @Model.User.UserName</p>
    <p>Rating: @Model.Rating</p>
    <p>Comment: @Model.Comment</p>
    <p>Review Date: @Model.ReviewDate</p>
</div>